{% extends "base.html" %}
{% block all %}
<div class="page-header">
	<h1><b>Pilotly Open-End Summarizer</b><br>
	<small>Aspect-Based Sentiment Analysis on Viewer Responses to Pilots</small><br>
</div>

<body> 
	<img src="/static/img/Pilotly_Logo_Full.png" height='150'>
	<br>
	<br>
	<p> The Summarizer uses natural language processing and machine learning to automatically generate an aspect-based sentiment summary from the raw text of viewer surveys. 
	<br>
	<br>
	Please select a series to explore the Summarizer's results:
	</p>
	<br>

	<ul>
		{% for business in businesses %}
			<li> 
				<a href="/summaries/{{ business['business_id'] }}">{{ business['business_name'] }} </a>
			</li> 
		{% endfor %}
	</ul>
	<br>
	<br>

</body>
{% endblock %}
